[user]
    name = JohannesNakayama
    email = 38665199+JohannesNakayama@users.noreply.github.com

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
    diffFilter = diff-so-fancy --patch

[alias]
    st = status
    co = checkout
    cl = clone
