[user]
    name = JohannesNakayama
    email = 38665199+JohannesNakayama@users.noreply.github.com

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
    diffFilter = diff-so-fancy --patch

[pull]
    rebase = true

[rebase]
    autoStash = true

[diff]
    algorithm = histogram

[commit]
    verbose = true

[alias]
    st = status
    co = checkout
    cl = clone
    yes = commit
    no = reset

[init]
    defaultBranch = main

[credential]
    helper = cache
